.container {
  display: flex;
  gap: 0.25em;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.word {
  border-bottom: 0.1em solid black;
}

.guessedLetters {
  color: black;
}

.guessedLetters.hidden {
  visibility: hidden;
}

.guessedLetters.visible {
  visibility: visible;
}

@media (max-width: 800px) {
  .container {
    font-size: 2rem;
  }
}
